PORT=8080
RSS_SUB_INTERVAL=43200
RSS_FEED_SIZE=10

# Redis
REDIS_PASSWORD=password
# Optional override
# REDIS_URL=redis://:password@127.0.0.1:6379/1

# PostgreSQL
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=postgres
# Optional override
# POSTGRES_DSN=postgres://user:pass@host:5432/dbname

# Auth
AUTH_SECRET=replace_me_with_strong_secret
AUTH_TOKEN_TTL_SECONDS=604800
AUTH_ISSUER=raven-api


# Discord
BOT_TOKEN=your_discord_bot_token
PUBLIC_KEY=your_discord_public_key
APPLICATION_ID=your_discord_application_id
GUILD_ID=your_test_guild_id
GUILD_CHANNEL_ID=default_guild_channel_id
CHANNEL_ID=default_channel_id
